<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Electricity Bills</title>

</head>
<body bgcolor="#ADD8E6">

<center>
<form method="POST" action ="sta" th:object="${registerRequest}">
		<h2> PAYMENT PAGE</h2></br></br>
		
		<table id=table1 style="width:50%"  bgcolor="#FFFFFF"  bordercolor="#808080" cellpadding="10">
		
		
		
  <tr><td>Payment Id : </br><input type="text" name="paymentId"/></td></tr>
   <tr><td>Payment Date: </br><input type="text" name="paymentDate"/></td></tr>
     <tr><td>Late Payment Charges: </br><input type="text" name="latePaymentCharges"/></td></tr>
      <tr><td>Total Paid: </br><input type="text" name="totalPaid"/></td></tr>
      <tr><td><center><input type="submit" value="SUBMIT"/></center></td></tr>
</table>
		</center>
</body>
</html>